body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    background-color: #fafafa;
}

header {
    background-color: #622154;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 1;
    height: 58px;

    h1 {
        margin: 0;
        color: #fafafa;
    }
}

.content {
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.2rem;
    display: flex;
    gap: 20px;

    .img {
        max-height: 400px;
        min-height: 400px;
        max-width: 400px;
        min-width: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100%;
        background-image: url('/assets/Felis_silvestris_silvestris.jpg');
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        align-items: flex-start;
        justify-content: space-between;

        p {
            margin: 0;
            text-align: justify;
        }
    }
}