body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    background-color: #fafafa;
}

header {
    background-color: #622154;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 1;
    height: 58px;

    h1 {
        margin: 0;
        color: #fafafa;
    }
}

.content {
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.2rem;
    display: flex;
    gap: 20px;

    .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        align-items: flex-start;
        justify-content: space-between;

        p {
            margin: 0;
            text-align: justify;
        }
    }
}

.drop-down {
    padding: 20px;
    box-sizing: border-box;

    .drop-down__content {
        display: none;
        flex-direction: column;
        gap: 10px;

        p {
            margin: 0%;
            font-size: 1.2rem;
        }
    }

    .drop-down__title {
        border-top: 2px solid #c2c2c2;
        border-bottom: 2px solid #c2c2c2;
        label {
            margin: 10px 0;
            cursor: pointer;
            width: 100%;
            user-select: none;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        input {
            display: none;

            &:checked~label .arrow-up {
                transform: rotate(180deg);
            }
        }

        &:has(input:checked)~.drop-down__content {
            display: flex;
        }
    }
}

.arrow-up {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;
    margin-right: 10px;

    &::after {
        width: 6px;
        height: 6px;
        border-top: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        left: 6px
    }

    &::before {
        width: 2px;
        height: 10px;
        left: 8px;
        background: currentColor
    }

    &::after,
    &::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 4px
    }
}

.cat-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 100%;
}

.flex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}